.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c ."
    "m c c c c c c c c c c ."
    "m c c c c c c c c c c ."
    "m c c c c c c c c c c ."
    "m c c c c c c c c c c ."
    "m c c c c c c c c c c .";
  
  margin: 0 auto;
}


/* Grid Areas */
.header { 
    grid-area: h; 
      h1{
      color:white
    }

    }
.menu { 
    grid-area: m; 
      h1{
      color:white
    }

    }
.content { 
    grid-area: c; 
    color:lightskyblue;
        h1{
      color:#FFCC00
    }
    
    }

body{
  background-image: url("assets/poopoo-but.png");
  background-size:cover;
  font-family: ;
}


